a {
	text-decoration: none;
	color: inherit;
}

a:link {
	text-decoration: none;
	color: inherit;
}
a:visited {
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: none;
}

.section {
	max-height: 500px;
	padding: 25px;
	margin: 0px;
}
.link {
	line-height: 5px;
}

.sources {
	margin-top: 30px;
	font-size: 12px;
}

/* COVER */
#cover {
	padding: 200px;
	background-color: #EB7260;
	text-align: left;
	max-height: 1000px;
}
@media (max-width: 800px) {
  #cover {
    padding: 50px;
  }
 }

#coverTitle {
	padding-bottom: 80px;
	font-family: 'Playfair Display', serif;
	line-height: 40px;
	letter-spacing: 14px;
	font-size: 76px;
	color: #000000;
}
@media (max-width: 560px) {
  #coverTitle {
    font-size: 40px;
  }
 }
#coverSlug {
	font-family: 'Playfair Display', serif;
	padding-bottom: 10px;
	font-size: 20px;
}
.coverText {
	font-family: 'Droid Serif', serif;
	max-width: 500px;
	line-height: 25px;
	letter-spacing: 1px;
	color: #000;
}
.coverFirstLetter { float: left; color: #000000; font-size: 80px; line-height: 60px; padding-top: 4px; padding-right: 4px; padding-left: 3px; font-family: 'Droid Serif', serif; }

/* DUNE */
.duneSection {
	max-height: 1200px;
	padding: 25px;
	margin: 0px;
}
#Dune {
	background-color: #354458;
}
#duneTitle {
	margin-top: 0px;
	padding-top: 300px;
	padding-bottom: 100px;
	font-family:'Ubuntu', sans-serif;
	line-height: 60px;
	letter-spacing: 14px;
	font-size: 200px;
	color: #FFFFFF;
	text-align: center;
	text-shadow: 4px 4px #000;

}
.duneText {
	font-family: 'Roboto Slab', serif;
	max-width: 500px;
	line-height: 24px;
	color: #F8F8F8;
	font-size: 16px;
}
.duneFirstLetter { float: left; color: #FFF; font-size: 80px; line-height: 60px; padding-top: 8px; padding-right: 4px; padding-left: 3px; font-family: 'Roboto Slab', serif; }

/* NEUROMANCER */
.neuromancerSection {
	max-height: 1200px;
	margin: 0px;
}
#Neuromancer {
	background-color: #FFFFFF;
}
.neuromancerTitle {
	margin-top: 0px;
	padding-top: 300px;
	padding-bottom: 100px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	line-height: 60px;
	letter-spacing: 5px;
	font-size: 80px;
	color: #000000;
	text-align: center;
	text-transform: uppercase;

}
.neuromancerText {
	font-family: 'Vollkorn', serif;
	text-align: center;
	max-width: 800px;
	line-height: 46px;
	color: #000000;
	font-size: 46px;
	float: center;
}
.neuromancerQuoteOpen { float: left; color: #000; font-size: 200px; line-height: 150px; padding-top: 10px; padding-right: 5px; padding-left: 100px; font-family: serif; }
.neuromancerQuoteClose { float: right; color: #000; font-size: 200px; line-height: 150px; padding-top: 250px; padding-right: 100px; padding-left: 5px; font-family: serif; }
@media (max-width: 990px) {
  .neuromancerQuoteClose {
    padding-top: 10px;
  }
 }

 /* MOBY */
.mobySection {
	max-height: 1200px;
	margin: 0px;
	padding-bottom: 50px;
}
#Moby {
	background-image: url(img/paper_2.png);
}
.mobyTitle {
	margin-top: 0px;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: 'Old Standard TT', serif;
	line-height: 90px;
	letter-spacing: 14px;
	font-size: 90px;
	color: #000000;
	text-align: center;
}
.mobyText {
	font-family: 'EB Garamond', serif;
	text-align: left;
	min-width: 400px;
	line-height: 46px;
	color: #000000;
	font-size: 28px;
	float: center;
}
.mobyTextChapter {
	font-family: 'EB Garamond', serif;
	text-align: left;
	min-width: 400px;
	line-height: 46px;
	color: #000000;
	font-size: 32px;
	float: center;
	font-weight: 800;
}

/* MOCKINGBIRD */
.mockingbirdSection {
	max-height: 1200px;
	margin: 0px;
	padding-bottom: 50px;
}
#Mockingbird {
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFE17D 0%, #EF8E0E 300%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFE17D 0%, #EF8E0E 300%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFE17D 0%, #EF8E0E 300%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 471, color-stop(0, #FFE17D), color-stop(3, #EF8E0E));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFE17D 0%, #EF8E0E 300%);
	background-image: radial-gradient(ellipse farthest-corner at center, #FFE17D 0%, #EF8E0E 300%);
}

.mockingbirdTitle {
	padding-top: 200px;
	padding-bottom: 50px;
	font-family: 'Clicker Script', cursive;
	line-height: 90px;
	font-size: 90px;
	color: #000000;
	text-align: center;
}
.mockingbirdText {
	font-family: 'Lustria', serif;
	text-align: left;
	min-width: 200px;
	line-height: 30px;
	color: #000000;
	font-size: 18px;
	float: center;
}
.mockingbirdDropcap { float: left; color: #000; font-size: 80px; line-height: 60px; padding-bottom: 4px; padding-right: 4px; padding-left: 3px; font-family: 'Roboto Slab', serif; }
.mockingbirdDropcap { float: left; color: #000; font-size: 80px; line-height: 60px; padding-bottom: 4px; padding-right: 4px; padding-left: 3px; font-family: 'Roboto Slab', serif; }

 /* Alice */
.aliceSection {
	padding: 150px;
	max-height: 1200px;
	min-height: 500px;
	margin: 0px;
	padding-bottom: 50px;
}
@media (max-width: 800px) {
  .aliceSection {
    padding: 50px;
  }
  .aliceTitle {
  	text-align: left;
  }
  .aliceText {
  	text-align: left;
  }
 }
#Alice {
	background-color: #29ABA4;
}
.aliceTitle {
	margin-top: 0px;
	font-family: 'Montserrat', sans-serif;
	line-height: 45px;
	font-size: 45px;
	color: #000000;
	text-align: center;
}
.aliceText {
	font-family: 'Raleway', sans-serif;
	text-align: left;
	max-width: 400px;
	line-height: 22px;
	color: #000000;
	font-size: 16px;
	font-weight: 400;
}
.aliceTextChapter {
	font-family: 'EB Garamond', serif;
	text-align: left;
	min-width: 400px;
	line-height: 46px;
	color: #000000;
	font-size: 20px;
	font-weight: 800;
	text-align: center;
	font-weight: 800;
}

/* FAHRENHEIT 451 */
.fahrenheitSection {
	max-height: 1200px;
	margin: 0px;
}
#Fahrenheit {
	background-color: #FFFFFF;
}

.fahrenheitTitle1 {
	margin-top: 0px;
	padding-top: 300px;
	padding-bottom: 100px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 90px;
	font-size: 80px;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
}

.fahrenheitTitle2 {
	line-height: 120px;
	font-size: 160px;
	color: #FF0000;
	text-align: center;
	text-shadow: 1px 1px 4px #FF3000;
}

.fahrenheitText {
	font-family: 'Vollkorn', serif;
	text-align: center;
	min-width: 600px;
	line-height: 46px;
	color: #000000;
	font-size: 26px;
	font-weight: 200;
	float: center;
	padding-bottom: 200px;
}

/* 1984 */
.OrwellTitle {
	font-family: 'Josefin Slab', serif;
	font-size: 100px;
	width: 250px;
	margin-top: 200;
	margin-bottom: 200;
	margin-left: auto;
	margin-right: auto;
}

.OrwellText {
	font-family: 'Arvo', serif;
	font-size: 35px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 200px;
}
